# IDE / Editor
.idea/
.vscode/

# Environments
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]=
*$py.class

# PyInstaller
*.manifest
*.spec

# Flask stuff:
instance/
.webassets-cache

# Static compiled files
static/js/*
static/css/*

# File systems
.DS_Store
Thumbs.db

# Data files
data/*.sqlite
data/!data.sqlite

# Pictures
pictures/*
!pictures/mountains.jpg
