{% extends "base.jinja2" %}

{% block title %}Slideshow - Configs{% endblock %}

{% block body %}

<main>
    <h2>Informations</h2>

    {% if configs.current_image %}

    <p>Il y a actuellement <b>{{ configs.image_count }}</b> {{ 'photos' if configs.image_count > 1 else 'photo' }} disponibles
    dans {{ 'les dossiers' if configs.directories | length > 1 else 'le dossier' }} <b>{{ configs.directories | join(', ') }}</b></p>
    
    <p>Image actuellement affichée: </p>
    <p>{{ configs.current_image }}</p>

    <img class="current-image" src="{{ url_for('download_file', filename=configs.current_image) }}" alt="Image actuelle">

    <a class="dl-button" href="{{ url_for('download_file', filename=configs.current_image, download=True) }}">
        Télécharger l'image
    </a>

    {% else %}

    <p class="error-message">Il n'y a actuellement aucune photo affichée, le programme est soit en veille, soit le diaporama n'a pas été lancé</p>

    {% endif %}

    <h2>Configurations</h2>

    <form method="POST">
        <label for="delay">Délai entre les photos</label>
        <br>
        <input type="number" name="delay" value="{{ configs.delay | default(10) }}" min="1" max="120">
        <button>Valider</button>
    </form>
</main>

{% endblock %}